@model IEnumerable<ComicBook>

@{
    ViewData["Title"] = "Листа на стрипови";
}

<div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid"> 
        <form class="form-inline my-2 my-lg-0" asp-controller="ComicBooks" asp-action="Filter" style="padding-right: 25px;">
            <input name="searchString" type="text" class="form-control" placeholder="Пребарај стрипови..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
        </form>
        <div style="padding-left: 25px" class="text-white">
            <a asp-action="Create" class="btn btn-outline-success"><i class="bi bi-plus-circle"> Додади стрип на продажба</i></a>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Title
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.Image" width="100%" alt="@item.Title">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Писател: </b>@item.Writer.Name</p>
                            <p class="card-text"><b>Илустрација: </b>@item.Penciler.Name</p>
                            <p class="card-text"><b>Сликар на корица: </b>@item.CoverArtist.Name</p>
                            <p class="card-text"><b>Објавена: </b>@item.Published</p>
                            <p class="card-text">
                                <b>Категорија: </b>@item.SellingCategory
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Детали
                                </a>
                                <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id ="@item.Id">
                                    <i class="bi bi-cart-plus"></i> Додај во кошничка (Цена: @item.Price денари)
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     }
</div>
